* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*font-family: Arial, Helvetica, sans-serif;*/
    background-color: #f0f2f5;
}

hr{
    background-color: #dadde1;
    height: 1px;
    border: none;
}

section{
    display: flex;
    justify-content: space-around;
    min-height: 640px;
    width: 100%;
    max-width: 980px;
    padding-bottom: 0px;
    padding-top: 125px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

section div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section div p{
    width: 425px;
    margin-bottom: 38px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    padding: 18px 16px 25px 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 8px 16px rgba(0,0,0,.1);
}

input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    margin-bottom: 14px;
    padding-left: 15px;
    font-size: 16px;
}

input::placeholder{
    color: #888889;
}
input:focus::placeholder{
    color: #c7c8ca;
}
input:focus{
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
}

footer{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 235px;
    margin-top: 15px;
    padding: 25px 35px;
    padding-bottom: 0px;
    /* position: absolute; */
    bottom: 10px;
    width: 100%;
}

footer div{
    display: flex;
    flex-direction: column;
    max-width: 980px;
}
ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 1.6;
}

li{
    color: #737373;
    padding-left: 10px;
    font-size: 12px;
    font-family: Helvetica;
}

#logo{
    margin-top: 65px;
    /* margin-left: -20px; */
} 

#login a{
    color: white;
    text-decoration: none;
}

#login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0px 16px;
    width: 100%;
    color: white;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 15px;
}
#senha{
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0px 16px;
    width: 175px;
    color: white;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 15px;
    align-self: center;
}

#senha:hover{
    background-color: #36a420;
    border-color: #36a420;
}
#login:hover{
    background-color: #1369d8;
    border-color: #1369d8;
}

#forget{
    display: flex;
    color: #1877f2;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: Helvetica;
}

#forget:hover{
    text-decoration: underline;
}

footer hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#info{
    text-align: center;
    border-top: none;
    color: #1c1e21;
    font-size: 14px;
    margin-top: 28px;
    padding-bottom: 14px;
}

#info a{
    color: #1c1e21;
    text-decoration: none;
    /* font-weight: 500; */
}

#info a:hover{
    text-decoration: underline;
}

#mais{
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    height: 20px;
    font-size: 18px;
    width: 30px;
    color: #5f5f60;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: 'Courier New';
    justify-content: center;
}

#copyright{
    color: #737373;
    font-size: 12px;
    font-family: Helvetica;
    margin-top: 16px;
    margin-bottom: 10px;
    padding-left: 10px;
}